/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
       /* #map {
        height: 100%;
      } */
      
      /* Optional: Makes the sample page fill the window. */
      /* html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
      } */


/* Set the size of the div element that contains the map */
#map {
    height: 600px;
    /* The height is 400 pixels */
    width: 50%;
    /* The width is the width of the web page */
    /* border-radius: 27px; */
  }

  /* #nav-bar {
    height: 15vh;
    background: rgb(49, 109, 179);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 3vh;
  } */

  /* #nav-bar button {
    padding: 1%;
    height: 80%;
    width: 8vw;
    display: flex;
    justify-content: center;
    font-size: 3vh;
    align-items: center;
    border-radius: 2em;
    border: 1px solid rgb(245, 181, 181);
  } */

  /* grid / column css look */
  /* body {
    display: grid;
    grid-template-columns: 2fr 8fr
  } */