/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
       /* #map {
        height: 100%;
      } */
      
      /* Optional: Makes the sample page fill the window. */
      /* html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
      } */


/* Set the size of the div element that contains the map */
#map {
    height: 600px;
    /* The height is 400 pixels */
    width: 50%;
    /* The width is the width of the web page */
    border-radius: 27px;
  }


  /* grid / column css look */
  /* body {
    display: grid;
    grid-template-columns: 2fr 8fr
  } */