/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
       /* #map {
        height: 100%;
      } */
      
      /* Optional: Makes the sample page fill the window. */
      /* html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
      } */


/* Set the size of the div element that contains the map */
#map {
  /* change to scale with screen */
    height: 505px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
  }

  /* grid / column css look */
  .interface {
    display: grid;
    grid-template-columns: 5fr 5fr;
    background-color: cornsilk;
  }